
#=============================================================================
# HA Config file 
#==============================================================================

global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats bind-process 1
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # perfo
    maxconn  500
    maxsslconn  500
    nbthread 16 

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL). This list is from:
    #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
    # An alternative list with additional directives can be obtained from
    #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    maxconn 500
    timeout connect 20s 
    timeout client  40s
    timeout server  40s
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

# ============  HTTP IN ============================
# Catch http stream in and dispatch using acl rules
frontend http-in
    # ---------------- Standard Options --------------------------------
    bind :::80 v4v6
    http-request redirect scheme https unless { ssl_fc }


# ============  HTTPS IN ============================
frontend https-in
    # ---------------- Standard Options ----------------
    bind :::443 v4v6 ssl crt /container/config/ssl/
    option forwardfor
    
    # ---------------- standard headers ----------------
    http-request set-header X-Forwarded-Host %[req.hdr(host)]
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Real-IP %[src]


    # ---------------- Domain ACLs ----------------

    # ---------------- URL ACLs ----------------

    # ************************************************
    # ---------------- Choose backend ----------------
    
    default_backend website_test



# ============  HTTP BACKENDS =========================
# backends servers

backend website_test
    mode http
    server docker_website_test1 10.10.11.30:8080 check
